<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Login V6</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form action="ChangePass/Success" method="post" id="ChangePassForm" class="login100-form validate-form">
                    {% csrf_token %}
					<span class="login100-form-title p-b-70">
						You can change your password here.
					</span>

                    <div class="wrap-input100 validate-input m-t-85 m-b-50" data-validate = "Enter Email">
						<input class="input100" type="email" name="emailAddress" id="emailAddress">
						<span class="focus-input100" data-placeholder="Enter your Email Address"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate = "Enter last Password">
						<input class="input100" type="text" name="old_pass" id="old_pass">
						<span class="focus-input100" data-placeholder="Enter your last password"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter new Password">
						<input class="input100" onkeyup="check();" type="password" name="new_pass" id="new_pass">
						<span class="focus-input100" data-placeholder="Enter your new password"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" onkeyup="check();" type="password" name="new_pass_confirm" id="new_pass_confirm">
						<span class="focus-input100" data-placeholder="Confirm new password"></span>
					</div>
                      <span id='message'></span>
                    <script>
                        var check = function() {
                          if (document.getElementById('new_pass').value ==
                            document.getElementById('new_pass_confirm').value) {
                            document.getElementById('message').style.color = 'green';
                            document.getElementById('message').innerHTML = 'matching';
                            document.getElementById('submit').disabled = false;
                          } else {
                            document.getElementById('message').style.color = 'red';
                            document.getElementById('message').innerHTML = 'not matching';
                            document.getElementById('submit').disabled = true;
                          }
                        }
                    </script>

					<div class="container-login100-form-btn">

					<!--	<button class="login100-form-btn" onclick="window.location.href='Futuristic-Travel.html'">Sign in</button> -->
						<button type="submit" id="submit" form="ChangePassForm" class="login100-form-btn" disabled >Change password</button>

					</div>

				</form>
                <div class="container-login100-form-btn">
                    <button onclick="window.location.href='..'" class="login100-form-btn">Back to Sign In Page</button>
                </div>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>
"{% static '' %}"

</body>
</html>
